* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR SECTION */

.section {
    background-color: rgb(13, 84, 215);
}

.section .nav-bar {
    display: flex;
    height: 68px;
    justify-content: space-between;
    background-color: rgb(13, 84, 215) !important;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar-toggler {
    margin-left: 210px !important;
}

.section .nav-bar .logo a {
    width: 10%;
}

.section .nav-bar .logo a img {
    width: 100%;
}

.section .nav-links .navbar-nav {
    margin-left: auto;
    padding-right: 40px;
}

.section .nav-links .navbar-nav a {
    color: #fff;
    margin-right: 20px;
    font-weight: 600;
    position: relative;
}

.section .nav-links a::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 3px;
    bottom: -6px;
    left: 0;
    border-radius: 5px;
    transform: scale(0);
    transition: 0.5s;
}

.section .nav-links a:hover::after {
    transform: scale(1);
}

/* <DIV>PROJECT SECTION</DIV> */


.first-section  {
    padding-top:0px;
    position: relative;
    /* bottom: 10px; */
}

.first-section .background-img {
    background-image: url("../images/about_bg-removebg-preview.png");
    background-size: cover;
    background-position: center;
    /* padding: 40px 0px; */
}

.first-section .background-img .overlay {
    background-color: rgba(13, 84, 215);
    padding: 15px 0px;
} 

.first-section .background-img .overlay .first-section-left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    padding-top: 90px;  
}

.first-section .background-img .overlay .first-section-left-right h1 {
    margin: 30px 0px;
    color: #fff;
    line-height: 55px;
    font-weight: 600;
}

.first-section .background-img .overlay .first-section-left-right p {
    color: #fff;
    margin-bottom: 30px;
}

.first-section .background-img .overlay .first-section-left-right .first-section-right {
    width: 30%;
}

.first-section .background-img .overlay .first-section-left-right .first-section-right img {
    width: 100%;
}

/* <DIV>UP ARROW</DIV> */

.up-arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 30px 0px;
}

.up-arrow span a {
    color: #fff;
    text-decoration: none;
}

.up-arrow span i {
    position: absolute;
    right: 0;
    color: rgb(13, 84, 215);
    font-size: 30px;
}


/* EXPERIENCE OUR RECENT PROJECT */

.second-div-section {
    width: 90%;
    margin: 70px auto;
}

.second-div-section #project {
    text-align: center;
}

.second-div-section #project button {
    padding: 6px 20px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid #00000046;
    color: rgb(13, 84, 215);
    font-weight: 600;
}

.second-div-section #project h2 {
    margin: 40px 0px;
    line-height: 45px;
    font-weight: 600;
}

.second-div-section .tripple-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.second-div-section .tripple-cards .first-div-img {
    background-image: url("../Documents/WhatsApp\ Image\ 2025-02-13\ at\ 14.07.11_4715e4e8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 15px;
    transition: 0.5s;
    background-color: transparent;
}

.second-div-section .tripple-cards .first-div-overlay {
    background: linear-gradient(360deg, #000000, transparent);
    height: 300px;
    border-radius: 15px;
    padding: 20px;
}

.second-div-section .tripple-cards .first-div-overlay:hover {
    height: 305px;
}

.second-div-section .tripple-cards .first-div-img:hover {
    height: 305px;
}

.second-div-section .tripple-cards .first-div-overlay button {
    padding: 5px 16px;
    border: none;
    background-color: #000000c2;
    color: #ffffff;
    font-weight: 500;
    border-radius: 25px;
    margin-top: 27.5vh;
    transition: 0.5s;
    position: relative;
}

.second-div-section .tripple-cards .first-div-overlay h3 {
    color: #ffffff;
    margin: 20px 0px;
    font-size: 24px;
}

.second-div-section .tripple-cards .first-div-overlay button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 25px;
    opacity: 0.3;
    color: #fff;
    z-index: -1;
    background-color: #fff;
}

.second-div-section .tripple-cards .first-div-overlay button:active:after {
    width: 100%;
    height: 35px;
    opacity: 1;
}

.second-div-section .tripple-cards .second-div-img {
    background-image: url("../images/IMG-20250206-WA0182.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 15px;
    transition: 0.5s;
}

.second-div-section .tripple-cards .second-div-overlay {
    background: linear-gradient(360deg, #000000, transparent);
    height: 300px;
    border-radius: 15px;
    padding: 20px;
}

.second-div-section .tripple-cards .second-div-img:hover {
    height: 305px;
}

.second-div-section .tripple-cards .second-div-overlay:hover {
    height: 305px;
}

.second-div-section .tripple-cards .second-div-overlay button {
    padding: 5px 15px;
    border: none;
    background-color: #000000c2;
    color: #ffffff;
    font-weight: 600;
    border-radius: 25px;
    margin-top: 21.5vh;
    transition: 0.5s;
    position: relative;
}

.second-div-section .tripple-cards .second-div-overlay button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    height: 0;
    color: #fff;
    opacity: 0.3;
    background-color: rgba(5, 2, 2, 0);
    border-radius: 25px;
}

.second-div-section .tripple-cards .second-div-overlay button:active::after {
    width: 100%;
    height: 35px;
    opacity: 1;
}

.second-div-section .tripple-cards .second-div-overlay h3 {
    color: #ffffff;
    margin: 20px 0px;
    line-height: 1.5em;
    font-size: 24px;
}

.second-div-section .tripple-cards .interpreting {
    display: grid;
    grid-template-columns: 1fr;
    color: #000000;
    border: 1px solid #fff;
    padding: 20px 0px;
    width: 17%;
    background-color: #ffffff;
    border-bottom-left-radius: 25px;
    position: relative;
    bottom: 19.9px;
}

.second-div-section .tripple-cards .interpreting small {
    font-size: 6px;
    color: #000000;
}

.second-div-section .tripple-cards .interpreting i {
    font-size: 25px;
    margin-left: 17px;
}

.second-div-section .tripple-cards .third-div-img {
    background-image: url("../images/photo-1686593686409-43456910d65c.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    transition: 0.5s;
}

.second-div-section .tripple-cards .third-div-overlay {
    background: linear-gradient(360deg, #000000, transparent);
    height: 300px;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    transition: 0.5s;
}

.second-div-section .tripple-cards .third-div-img:hover {
    height: 305px;
}

.second-div-section .tripple-cards .third-div-overlay:hover {
    height: 305px;
}

.second-div-section .tripple-cards .third-div-overlay p {
    color: #fff;
    position: absolute;
    top: 16vh;
    left: 12px;
    font-size: 14px;
    width: 90px;
}

.second-div-section .tripple-cards .third-div-overlay span {
    color: #ff0000;
    position: absolute;
    right: 5px;
    top: 10vh;
    border: 1px solid #fff;
    background-color: #f8f807;
    height: 40px;
    width: 40px;
    border-radius: 50% 0px 50% 50%;
    font-weight: 600;
    display: grid;
    place-content: center;
}

.second-div-section .tripple-cards .third-div-overlay button {
    padding: 5px 25px;
    border: none;
    background-color: #000000c2;
    color: #ffffff;
    font-weight: 600;
    border-radius: 25px;
    margin-top: 15.5vh;
    position: relative;
    transition: 0.5s;
}

.second-div-section .tripple-cards .third-div-overlay button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 25px;
    opacity: 0.3;
    color: #fff;
    z-index: -1;
    background-color: #fff;
}

.second-div-section .tripple-cards .third-div-overlay button:active:after {
    width: 100%;
    height: 35px;
    opacity: 1;
}

.second-div-section .tripple-cards .third-div-overlay h3 {
    color: #ffffff;
    margin: 20px 0px;
    font-size: 24px;
}


/* third-SECTION FREQUENTLY ASKED QUESTIONS */

.third-section {
    width: 100%;
}

.third-section .popular-FAQs {
    text-align: center;
}

.third-section .popular-FAQs button {
    padding: 5px 15px;
    color: rgb(13, 84, 215);
    border: none;
    border-radius: 25px;
    font-weight: 500;
    background-color: #ffffff3d;
}

.third-section .popular-FAQs h2 {
    line-height: 45px;
    font-weight: 600;
    margin: 20px 0px;
}

.third-section .third-section-left-right {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 70px auto;
    gap: 10px;
}

.third-section .third-section-left {
    width: 50%;
}

.third-section .third-section-left-right .toggle-down {
    transition: 0.4s ease-in-out;
}

.third-section .third-section-right {
    width: 50%;
}

.third-section .third-section-left-right .toggle-down .toggleBtn {
    padding: 5px 15px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 2px solid rgb(13, 84, 215);
    margin: 20px 0px;
}

.third-section .third-section-left-right .toggle-down .toggleBtn:hover {
    background-color: rgb(13, 84, 215);
    color: #fff;
}

.toggle-down #togglePara {
    display: none;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}


/* fourth-SECTION THANK YOU FOR VISITING */

.fourth-section {
    background-color: rgb(13, 84, 215);
    color: #fff;
}

.fourth-section .fourth-section-left-right {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}

.fourth-section .fourth-section-left-right .fourth-section-left {
    width: 100%;
}

.fourth-section .fourth-section-img img {
    width: 100%;
}

.fourth-section .fourth-section-left-right .fourth-section-right {
    padding: 80px 0px;
    /* width: 48%; */
}

.fourth-section .fourth-section-left-right .fourth-section-right #get-in-touch {
    padding: 5px 13px;
    background-color: transparent;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 25px;
    font-weight: 600;
    color: #ffffff;
}

.fourth-section .fourth-section-left-right .fourth-section-right .thank-u {
    margin: 30px 0px;
    font-weight: 600;
}

.fourth-section .fourth-section-left-right .fourth-section-right p {
    width: 80%;
    line-height: 1.8em;
    margin-bottom: 30px;
}

.fourth-section .fourth-section-left-right .fourth-section-right #contact-us {
    padding: 5px 13px;
    background-color: #ffffff;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 25px;
    font-weight: 600;
    color: #000000;
}

 /* fifth-SECTION GET IN TOUCH & QUICK LINKS & OUR SERVICES */

.fifth-section-footer-bg  {
    background: linear-gradient(90deg, rgb(2, 2, 49),rgb(13,84,215));
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
} 

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 30px;
    width: 90%;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 140px;
    border-bottom: 1px solid gainsboro;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-one {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-one a {
    color: #fff;
    text-decoration: none;
    width: 70%;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-one a img {
    width: 100%;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-one p {
    line-height: 35px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two h3 {
    margin-bottom: 30px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two .grid-two-contents {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 35px;
    line-height: 25px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two .grid-two-contents a {
    line-height: 2px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two i {
    color: #fff !important;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two a {
    text-decoration: none;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two a p {
    color: white!important;
    margin-top: 14px !important;
    margin-left: 3px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two .footer-icons i {
    margin-top: 20px;
    margin-right: 10px;
    font-size: 25px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    place-content: center;
    text-align: center;
    position: relative;
    left: 10px;
    transition: 0.4s ease-in-out;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two .footer-icons i:hover {
    background-color: rgb(13, 84, 215);
    color: #fff !important;
    border: 2px solid rgb(241, 235, 235);
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three div {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    position: relative;
    right: 15px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three i,a {
    margin: 10px 0px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three h3 {
    margin-bottom: 30px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three a {
    text-decoration: none;
    color: #fff;
    margin: 0px 20px;
    transition: 0.4s ease-in-out;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three a:hover {
    color: rgba(255, 255, 255, 0.692);
    font-size: 17px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three i {
    font-size: 20px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four div {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    position: relative;
    right: 15px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four i,a {
    margin: 10px 0px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four h3 {
    margin-bottom: 30px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four a {
    text-decoration: none;
    color: #fff;
    margin: 0px 20px;
    transition: 0.4s ease-in-out;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four a:hover {
    color: rgba(255, 255, 255, 0.692);
    font-size: 17px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four i {
    font-size: 20px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four a span {
    margin-left: 32px;
} 

.fifth-section-footer-bg .fifth-section-footer-overlay .copy-right #copy-right {
    font-size: 17px;
    text-align: center;
    margin-top: 60px;
}


@media screen and (max-width:768px){
 
.section .nav-bar .logo a {
    width: 15%;
}

 .navbar-toggler {
    margin-left: 528px !important;
}
    
.first-section  {
    top: 30px;
}

.second-div-section .tripple-cards .first-div-overlay button {
    margin-top: 19.5vh;
}

.second-div-section .tripple-cards .third-div-overlay button {
    margin-top: 13.5vh;
}

.fourth-section .fourth-section-left-right {
    display: block;
}

.fourth-section .fourth-section-left img {
    width: 100%;
}

.fourth-section .fourth-section-left-right .fourth-section-right p {
    width: 100%;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-one {
    line-height: 3px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two-contents {
    line-height: 30px !important;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two h4 {
    margin-top: 20px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two {
    margin-top: 60px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .footer-icons {
    margin-top: 7px !important;
    position: relative;
    left: -20px;
    bottom: 20px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three h4 {
    margin-top: 145px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three div {
    display: grid;
    grid-template-columns: 1fr;
} 

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three i,a {
    margin: 5px 0px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four h4 {
    margin-top: 120px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four i,a {
    margin: 6px 0px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four div {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    position: relative;
    right: 15px;
}



}

@media screen and (max-width:660px){

.section .nav-bar .logo a {
    width: 15%;
}

.navbar-toggler {
    margin-left: 430px !important;
}
 
.Fourth-section-footer-bg .Fourth-section-footer-overlay .Fourth-section-footer-contents {
    border-bottom: none;
}
  

.first-section .background-img .overlay .first-section-left-right {
    display: block;
}

.first-section .background-img .overlay .first-section-left {
    width: 100%;
    text-align: center;
}

.first-section .background-img .overlay .first-section-left-right .first-section-right {
    width: 100%;
}


.first-section .background-img .overlay .first-section-right img {
    width: 100%;
    text-align: center;
}

.second-div-section .tripple-cards {
    display: block;
}

.second-div-section .tripple-cards .second-div-overlay {
    margin: 20px 0px;
}

.second-div-section .tripple-cards .third-div-overlay {
    margin: 20px 0px;
}

.third-section .third-section-left-right {
    display: block;
    justify-content: space-between;
    width: 90%;
    margin: 70px auto;
    gap: 10px;
}

.third-section .third-section-left {
    width: 100%;
}

.third-section .third-section-right {
    width: 100%;
}


.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom:  none;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-one {
    line-height: 3px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two-contents {
    line-height: 30px !important;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two h4 {
    margin-top: 20px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-two {
    margin-top: 60px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .footer-icons {
    margin-top: 7px !important;
    position: relative;
    left: -20px;
    bottom: 20px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three h4 {
    margin-top: 145px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three div {
    display: grid;
    grid-template-columns: 1fr;
} 

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-three i,a {
    margin: 5px 0px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four h4 {
    margin-top: 120px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four i,a {
    margin: 6px 0px;
}

.fifth-section-footer-bg .fifth-section-footer-overlay .fifth-section-footer-contents .grid-four div {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    position: relative;
    right: 15px;
}
}

@media screen and (max-width:460px){
.section .nav-bar .logo a {
    width: 15%;
}

.navbar-toggler {
    margin-left: 210px !important;
}

.first-section .background-img .overlay .first-section-left-right .first-section-right {
    width: 85%;
}

.first-section .background-img .overlay .first-section-left-right .first-section-right img {
    width: 100%;
}
  
.second-div-section .tripple-cards .first-div-overlay button {
    margin-top: 26vh;
}

.second-div-section .tripple-cards .second-div-overlay button {
    margin-top: 20vh;
}

.second-div-section .tripple-cards .third-div-overlay button {
    margin-top: 15vh;
}

.Fourth-section-footer-bg .Fourth-section-footer-overlay .Fourth-section-footer-contents {
    border-bottom: none;
}

}
